/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Fondo azul claro */
}

/* Menú de navegación */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Estilos de la lista de tiendas */
.store-list {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.store-list h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
}

.store-list ul {
    list-style: none;
    padding: 0;
}

.store-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5f7ff; /* Fondo azul claro */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #66b2ff;
}

.store-list li img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.store-list li:hover {
    background-color: #ccf2ff; /* Efecto hover más claro */
    border-color: #3399ff;
    transition: background-color 0.3s ease;
}

/* Estilo del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 14px;
}
